body {
  background-color: #d2eadc;
}

#site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #685e55;
  color: white;
  font-weight: 600;
}

#house-frame {
  cursor: pointer;
  float: left;
}

#house {

  height: 56px;
}

.site-header__button {
  cursor: pointer;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #514d4c;
  border: none;
  color: white;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 550;
}

#content {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
}

.modal-window__confirm {
  width: 150px;
  height: 30px;
  margin: 12px 0 4px 0;
  border-radius: 12px 0 4px 0;
  background-color: white;
  font-size: 1em;
}

.modal-window__close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}




.App {
  text-align: center;
  position: absolute;
  width: 100vw;
  z-index: 10000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  opacity: 0.9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
