body {
  background-color: #d2eadc;
}

#site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #685e55;
  color: white;
  font-weight: 600;
}

#house-frame {
  float: left;
}

#house {
  height: 56px;
}

.site-header__button {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #514d4c;
  border: none;
  color: white;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 550;
}

#content {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
}

.modal-window__confirm {
  width: 150px;
  height: 30px;
  margin: 12px 0 4px 0;
  border-radius: 12px 0 4px 0;
  background-color: white;
  font-size: 1em;
}

.modal-window__close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}
