#home-box{
    display: block;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

.home-button {
    cursor: pointer;
    width: 280px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #528469;
    font-size: 1.5em;
    font-weight: 600;
    font-family: inherit;
    color: white;
}

input {
    margin-right: 5px;
}
